<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_background"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".View.activity.SimpleEmployeeSettings"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.Upgrage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.ShowAdminAccount"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.Services"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.Savefingerprint"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.settings.others.Help"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.settings.others.ReportProblem"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.settings.others.Languages"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.settings.others.DarkMode"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.settings.others.Clocking"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.settings.Overview"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.settings.ShareAppViaQRCode"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.settings.MainSetting"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.NoServiceAvailable"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.activity.FileHandler"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".View.activity.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".View.activity.SimpleEmployeeMenu"
            android:exported="false" />
        <activity
            android:name=".View.activity.ConsultStatisticsByEmployee"
            android:exported="false" />
        <activity
            android:name=".View.activity.Login"
            android:exported="false" />
        <activity
            android:name=".View.activity.SetUp"
            android:exported="false" />
        <activity
            android:name=".View.activity.ConsultPresenceReport"
            android:exported="false" />
        <activity
            android:name=".View.activity.ConsultStatisticsByService"
            android:exported="false" />
        <activity
            android:name=".View.activity.SearchEmployee"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".View.activity.UpdateEmployee"
            android:exported="false" />
        <activity
            android:name=".View.activity.settings.ManageUsername"
            android:exported="false" />
        <activity
            android:name=".View.activity.Generator"
            android:exported="false" />
        <activity
            android:name=".View.activity.ClockInOut"
            android:exported="false" />
        <activity
            android:name=".View.activity.DeleteEmployee"
            android:exported="false" />
        <activity
            android:name=".View.activity.GeneralMenu"
            android:exported="false" />
        <activity
            android:name=".View.activity.RegisterEmployee"
            android:exported="false" />
        <activity
            android:name=".View.activity.StartScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>